
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        margin-top: -8%;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'signin', media: 'all' %>
</head>

<body>
<main class="form-signin text-center">
  <form>
    <h1 class="h1 mb-3 fw-normal">🔒</h1>
    <h1 class="h3 mb-3 fw-normal">zarejestruj się</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Hasło</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Pamiętaj mnie
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
  </form>
</main>


